/* General styles for all menus */
.cbp-spmenu {
	background:#fff;
	position: fixed;
}
button#showRight, .link-top {
    /* background: none; */
    outline: none;
    border: none;
	margin: 0 1em;
}
.cbp-spmenu h3 {
color: #fff;
    font-size: 1.9em;
    padding: 15px 20px;
    margin: 0;
    font-weight: 300;
    background: #E16B5B;
    text-align: center;
}
.cbp-spmenu ul{
	padding: 0;
}
.cbp-spmenu  li{
	list-style: none;
}
.cbp-spmenu  li a {
	display: block;
	color: #fff;
	font-size: 1.3em;
	font-weight: 300;
	text-decoration:none;
	text-align:center;
}

.cbp-spmenu li a:hover {
	background:none;
	color: #9BD16F;
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}

.cbp-spmenu li.active {
	background:none;
	color: #9BD16F;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 350px;
    height: 534px;
    top: 8.1%;
    z-index: 1000;
}
.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal li a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #69B22E;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -350px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}
/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
@media (max-width:1366px){
	.cbp-spmenu-right {
		right: -350px;
	}
}
@media (max-width:1280px){
	
}
@media (max-width:1024px){

	
}
@media (max-width:768px){

}
@media (max-width:640px){
	
}
@media (max-width:480px){
	
	.cbp-spmenu-vertical {
		width: 350px;
		height: 524px;
		 top: 14.1%;
		z-index: 1000;
	}
}
@media (max-width:414px){

}
@media (max-width:384px){
	.cbp-spmenu-vertical {
			width: 300px;
	}
}
@media (max-width:375px){
	.cbp-spmenu-vertical {
			width:290px;
	}
	.cbp-spmenu h3 {
		color: #fff;
		font-size: 1.5em;
		padding: 12px 20px;
	}
	.cbp-spmenu-vertical {
		top: 17.1%;
		z-index: 1000;
	}
}
@media (max-width:320px){
	.cbp-spmenu-vertical {
			width:280px;
	}
	
}

