.zs-enabled{position:relative}.zs-enabled .zs-slideshow,.zs-enabled .zs-slides,.zs-enabled .zs-slide{position:absolute;z-index:1;top:0;left:0;width:100%;height:100%;overflow:hidden}.zs-enabled .zs-slideshow .zs-slides .zs-slide{background:transparent none no-repeat 50% 50%;background-size:cover;position:absolute;visibility:hidden;opacity:0;-webkit-transform:scale(1.2, 1.2);-moz-transform:scale(1.2, 1.2);-ms-transform:scale(1.2, 1.2);-o-transform:scale(1.2, 1.2);transform:scale(1.2, 1.2)}.zs-enabled .zs-slideshow .zs-slides .zs-slide.active{visibility:visible;opacity:1}.zs-enabled .zs-slideshow .zs-bullets{position:absolute;z-index:4;bottom:20px;left:0;width:100%;text-align:center}.zs-enabled .zs-slideshow .zs-bullets .zs-bullet{display:inline-block;cursor:pointer;border:2px solid #EFC509;width:14px;height:14px;border-radius:8px;margin:10px;background-color:#000}.zs-enabled .zs-slideshow .zs-bullets .zs-bullet.active{background-color:#EFC509}.zs-enabled .zs-slideshow:after{content:" ";position:absolute;top:0;left:0;width:100%;height:100%;z-index:3;background:transparent none repeat 0 0}.zs-enabled.overlay-plain .zs-slideshow:after{background-image:url(plain.png)}.zs-enabled.overlay-dots .zs-slideshow:after{background:url(../images/dots.png)}
	.properties-table {
			width: 100%;
			padding: 0;
			border-spacing:0;
			margin-top:2em;
			font-size:.85em;
			background-color: #eee;
		}
		.properties-table th, .properties-table td {
			text-align: left;
			padding: 10px;
		}
		.properties-table th {
			border-bottom: 1px solid #333;
			line-height: 2;
		}
      #demo-1 {
			position: relative; 
			width: 100%;
			min-height:600px;
			background-color: #999;
		}
		.demo-inner-content {
			position: relative;
			z-index: 2;
			
		}
		.banner-info{
			    padding:9% 0 0 0;
			color: #fff;
			text-align: center;
		}
		.banner-info h1 a {
			font-family: 'Wallpoet', cursive;
			font-size: 1em;
			color: #fff;
			text-transform:uppercase;
		}
		.banner-info span.logo-sub {
			    color: #efc509;
		}
		.banner-info h2 {
			font-size:2.3em;
			margin: 0;
			font-weight:300;
			margin-top:0.3em;
		}
	.header-left {
		float: left;
		width: 50%;
	}
	.banner-info p {
		font-size: 0.9em;
		letter-spacing: 4px;
		    margin-top: 10px;
	}
	.header-top {
		padding: 1em 1em;
	}
	.search-box{
		float:right;
	}
	.tag {
		float: left;
		margin-left: 21%;
	}
	.tag a{
		 font-size: 14px;
		color: #fff;
		
	}
.search-box	ul li,.search-box	ul li  a {
       display: inline-block;
    font-size: 14px;
    color: #fff;
	    outline: none;
}
.search-box	ul li i{
    left: -.5em;
	  color: #fff;
}
/*start search*/
.sb-search {
	position: absolute;
    right: 19.5%;
    width: 0%;
    min-width:50px;
    margin: 0;
    height: 50px;
    float: none;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    background: none;
	top:6px;
}
.sb-search-input {
	position: absolute;
    top: 0px;
    left: 0px;
    border: none;
    outline: none;
    background:none;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 10;
    font-size:14px;
    color: #fff;
    padding-left: 1em;
    padding-right: 4em;
}
.sb-search-input::-webkit-input-placeholder {
	color:#fff;
}
.sb-search-input:-moz-placeholder {
	color: #fff;
}
.sb-search-input::-moz-placeholder {
	color: #999;
}
.sb-search-input:-ms-input-placeholder {
	color: #fff;
}
.sb-icon-search,.sb-search-submit  {
	width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 85px;
    text-align: center;
    cursor: pointer;
}
.sb-search-submit {
	background:url(../images/search.png) no-repeat 12px 12px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    color: transparent;
	border: none;
	outline: none;
	z-index: -1;
	-webkit-appearance: none;
}
.sb-icon-search {
   background:url(../images/search.png) no-repeat 12px 12px;
	z-index: 90;
}
/* Open state */
.sb-search.sb-search-open,.no-js .sb-search {
	width: 29%;
}
.sb-search.sb-search-open .sb-icon-search,.no-js .sb-search .sb-icon-search {
	background:url(../images/search.png) no-repeat 12px 12px;
	color: #fff;
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit,.no-js .sb-search .sb-search-submit {
	z-index: 90;
}


.banner-info input[type="email"] {
    outline: none;
    padding: 10px 10px 10px 35px;
    background: none;
    border: none;
    border-bottom: 1px solid #D9D9D9;
    font-size: 14px;
    color: #fff;
    width: 74%;
}
.banner-info form {
    width: 42%;
    margin: 2% auto 0;
}
.banner-info form span {
    left: 1.5em;
    color: #fff;
    top: 0.1em;
}
.banner-info input[type="submit"]:hover {
    background: #ffc229;
}
.banner-info input[type="submit"] {
    outline: none;
    padding: 10px 0;
    background: #EFC509;
    border: none;
    font-size: 0.95em;
    color: #fff;
    width: 15%;
    margin-left: 0em;
    float: left;
}
.banner-info input[type="submit"]:hover{
	  background: #e16b5b;
}
.search-two {
    float: left;
    width:47%;
}
.section_room{
    float: left;
    width: 33%;	
}
.sear-sub{
    float: right;
    width: 10%;		
}
.header-middle {
    padding: 9px 0px;
    background:#23b5b9;
}
.header-right ul {
    margin-top: 20px;
}
.section_room select option {
    line-height: 1.8em;
}
.header-search {
    width: 41%;
    margin: 0 auto;
}
.search-two input[type="search"] {
    outline: none;
    border: none;
    width: 100%;
    color:#848484;
    font-size:14px;
    border-right:1px solid #eee;
    padding:10px 20px 10px 30px;
	background: url(../images/rupee.png) no-repeat 2% center #ffffff;
}
.search-two seclect,select#country{
    padding:10px 46px;
    width: 100%;
    font-weight: normal;
    background: none;
    border: none;
    color: #848484;
    outline: none;
    font-size:14px;
    margin-bottom:0;
}
.section_room select{
	border-left:1px solid #999!important;
	background: url(../images/.png) no-repeat 7% center #ffffff!important;
	    padding: 10px 35px!important;
}
/*-- /responsive --*/
@media (max-width:1440px){
	#demo-1 {
		min-height: 550px;
	}
	.zs-enabled .zs-slideshow .zs-bullets {
		position: absolute;
		bottom: 59px;
		left: 0;
	}
	h3.tittle {
		margin-bottom: 1em;
		font-size: 2.1em;
	}
}
@media (max-width:1366px){
	.banner-info {
		padding: 7% 0 0 0;
		color: #fff;
		text-align: center;
	}
	.banner-info h1 a {
		font-size: 0.9em;
	}
	.banner-info h2 {
		font-size: 1.8em;
		margin: 0;
		font-weight: 300;
		margin-top: 0.3em;
	}
	.banner-info form {
		width: 49%;
		margin: 2% auto 0;
	}
}
@media (max-width:991px){
	#demo-1 {
		min-height: 485px;
	}
}
@media (max-width:320px){
	.banner-info h1 a {
       font-size: 0.7em;
	}
	#demo-1 {
       min-height: 354px;
	}
	.banner-info h2 {
		font-size: 1.2em;
		margin: 0;
		font-weight: 300;
		margin-top: 0.3em;
	}
	.banner-info p {
		font-size: 0.9em;
		letter-spacing: 2px;
		margin-top: 5px;
	}
	.banner-info form {
		width:81%;
		margin: 2% auto 0;
	}
	.search-two seclect, select#country {
		padding: 10px 34px;
		width: 100%;
		font-weight: normal;
		background: none;
		border: none;
		color: #848484;
		outline: none;
		font-size: 12px;
		margin-bottom: 0;
		background: url(../images/car.png) no-repeat 6% center #ffffff;
	}
	.section_room select {
		border-left: 1px solid #999!important;
		background: url(../images/rupee.png) no-repeat 4% center #ffffff!important;
		padding: 10px 17px!important;
	}
	.banner-info input[type="submit"] {
		outline: none;
		padding: 8px 0;
		background: #EFC509;
		border: none;
		font-size: 0.95em;
		color: #fff;
		width: 40%;
		margin-left: 0em;
		float: none;
		margin-top: 10px
	}
	.search-two {
		float: left;
		width: 50%;
	}
	.section_room {
		float: left;
		width: 49%;
	}
	.zs-enabled .zs-slideshow .zs-bullets {
		position: absolute;
		z-index: 4;
		bottom: 11px;
		left: 0;
		width: 100%;
		text-align: center;
	}
	.zs-enabled .zs-slideshow .zs-bullets .zs-bullet {
		width: 10px;
		height: 10px;
	}
	.tag {
		float: left;
		margin-left: 26%;
	}
	.search-box {
		float: right;
		width: 87%;
		margin-top: 10px;
		margin-left: 0px;
	}
}
@media (max-width:800px){
	#demo-1 {
		min-height: 454px;
	}
}
@media (max-width:736px){
	.banner-info h2 {
		font-size: 1.6em;
		margin: 0;
		font-weight: 300;
		margin-top: 0.3em;
	}
	#demo-1 {
      min-height: 414px;
	}

}
@media (max-width:568px){
	#demo-1 {
		min-height: 359px;
	}
	
	.banner-inner-dott {
		padding-bottom: 30px;
	}
	
}
@media (max-width:480px){
	#demo-1 {
		min-height: 359px;
	}
	.banner-inner-dott {
		padding-bottom: 30px;
	}
}
@media (max-width:414px){
	#demo-1 {
		min-height: 336px;
	}
	.zs-enabled .zs-slideshow .zs-bullets {
		position: absolute;
		bottom: 28px;
		left: 0;
	}
}
@media (max-width:375px){
	.section_room {
		float: left;
		width: 50%;
		margin-bottom: 10px;
	}
	.banner-info input[type="submit"] {
		padding: 7px 0;
		font-size: 0.95em;
		width: 32%;
		margin-left: 0em;
		float: none;
	}
	   .zs-enabled .zs-slideshow .zs-bullets {
		position: absolute;
		bottom: 18px;
		left: 0;
	}
}
@media (max-width:320px){
   .zs-enabled .zs-slideshow .zs-bullets {
		position: absolute;
		bottom: 18px;
		left: 0;
	}
}
/*-- //responsive --*/